@keyframes pulseIn {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(247, 27, 27, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(247, 27, 27, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(247, 27, 27, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
