@import url("variables.css");
@import url("animation.css");

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: calc(100vh - 50px - 20px - 2px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px - 20px - 2px);
  background-color: var(--general-grey);
  z-index: 1;
}

.streamers {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.streamer {
  display: flex;
  width: 100%;
  padding: 15px 10px 15px 0;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
  height: 60px;
}

.streamer:hover {
  background-color: #c9c9c9;
}

.streamer__viewers {
  position: relative;
}

.streamer--active .streamer__viewers::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgb(247, 27, 27, 1);
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  right: calc(100% + 10px);
  box-shadow: 0 0 0 0 rgb(247, 27, 27, 1);
  animation: pulseIn 2s infinite;
}

.streamer__info {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.streamer__avatar {
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.streamer__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.information-block {
  background-color: var(--general-grey);
  color: var(--primary-text-color);
  height: 170px;
  border-top: 3px solid #fff;
  padding: 18px;
  align-items: center;
}

.information-block__content {
  background-color: #c9c9c9;
  padding: 26px;
  text-align: center;
}

.information-block__text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.socials__item > i {
  font-size: 25px;
  color: black;
}

.socials__item + .socials__item {
  margin-left: 20px;
}

.socials__item > i:hover {
  color: #27abf7;
}
