@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

a {
  text-decoration: none;
}

::selection {
  background: #ff990069;
  opacity: 0.6;
}
