@import url("./variables.css");

.header {
  border-bottom: 2px solid var(--general-grey);
  box-shadow: 0 5px 4px -4px var(--light-grey);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 50px;
}

.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-center {
  gap: 8px;
  width: 50%;
}

.search {
  display: flex;
  width: 100%;
}

.search__input {
  padding: 5px;
  font-weight: 500;
  border: 1px solid var(--general-grey);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
}

.search__input:focus {
  outline: none;
  border: 1px solid #05648d;
}

.search__button {
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--general-grey);
  border: 1px solid var(--general-grey);
  border-left: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.search__button:hover {
  background-color: var(--light-grey);
}

.header-right {
  gap: 15px;
}

.voice-input,
.notification {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.voice-input > i:hover,
.notification > i:hover {
  color: var(--dark-grey);
}

.notification > i,
.voice-input > i {
  font-size: 20px;
  color: var(--light-grey);
}

.profile {
  display: flex;
  position: relative;
}

.profile__avatar {
  background-color: var(--orange);
  padding: 7px 10px;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
}

.menu {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 150px;
  display: none;
  border: 1px solid var(--light-grey);
  box-shadow: 1px 1px 5px 1px var(--light-grey);
  border-radius: 3px;
  background-color: #fff;
  z-index: 1;
}

.profile:hover .menu {
  display: block;
}

.menu__item:hover {
  background-color: var(--light-grey);
}
.menu__link {
  display: block;
  color: var(--primary-text-color);
  padding: 10px 15px;
  font-size: 16px;
}

.menu__link--logout {
  color: red;
  border-top: 1px solid var(--light-grey);
  box-shadow: 1px 1px 3px 1px var(--light-grey);
}

.menu__link i {
  margin-right: 10px;
}
