@import url("variables.css");
@import url("animation.css");

.main-section {
  overflow-y: scroll;
}

.categories {
  padding: 10px;
  overflow-y: auto;
  height: 60px;
}

.category__list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.category__item {
  background-color: var(--general-grey);
  padding: 5px 10px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  font-size: 17px;
  white-space: nowrap;
}

.category__item--active {
  background-color: var(--orange);
  border-color: var(--orange);
}

.category__item--active .category__link {
  color: #fff;
}

.category__link {
  color: var(--primary-text-color);
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  padding: 10px;
  gap: 15px;
  min-height: 100%;
}

.video {
  position: relative;
}

.video-preview {
  position: relative;
  height: 75%;
}

.video-preview__cover {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(59, 59, 59, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
}

.video:hover .video-preview__cover {
  display: flex;
  animation: fadeIn 0.8s;
}

.video-preview__play {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

.video-preview__live {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  background-color: red;
  border-radius: 5px;
  padding: 3px 3px;
  top: 8px;
  left: 8px;
  font-size: 14px;
}

.video-preview__details {
  color: #fff;
  position: absolute;
  background-color: rgba(109, 108, 108, 0.8);
  border-radius: 5px;
  padding: 3px 5px;
  bottom: 8px;
  right: 8px;
}

.video-preview__picture {
  width: 100%;
  height: 100%;
}

.video-bottom {
  width: auto;
  display: flex;
  gap: 20px;
  padding: 10px 6px 0 6px;
}

.video-bottom__avatar {
  width: 35px;
  height: 35px;
}

.video-description {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video__title {
  font-size: 16px;
  color: var(--primary-text-color);
}

.video__author {
  display: block;
  color: var(--secondary-text-color);
  font-size: 14px;
}

.video-options {
  justify-self: flex-end;
  color: var(--primary-text-color);
}
