@media screen and (max-width: 1200px) {
  .streamer__name,
  .streamer__viewers,
  .information-block {
    display: none;
  }
  .main {
    grid-template-columns: auto 1fr;
  }
  .streamer {
    padding: 10px;
  }

  .streamers {
    display: block;
    height: 100%;
    overflow-x: hidden;
  }
}
