:root {
  --font: "Roboto Mono", sans-serif;
  --font-size: 16px;
  --general-grey: #e5e5eb;
  --orange: #ff9a00;

  --dark-grey: #474747;
  --light-grey: #d1d1d3;

  --primary-text-color: #292828;
  --secondary-text-color: #aaaaaa;
}
